<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.id.ervin.genshin.paimondex">

    <application
        android:name=".PaimondexApp"
        android:allowBackup="false"
        android:icon="@drawable/paimon_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/paimon_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Paimondex">
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Paimondex.NoActionBar">

        </activity>
        <activity
            android:name=".ui.feature.characters.detail.CharacterDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.Paimondex.NoActionBar" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Paimondex.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
